<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Agregar Heroe</title>
</head>
<body>
	<form action="/heroes/crear" method="post">
		<div>
			<lable for="nombre">Nombre:</lable>
			<input type="text" name="nombre" id="nombre">
		</div>
		<div>
			<lable for="nivelDePoder">Nivel de Poder:</lable>
			<input type="text" name="nivelDePoder" id="nivelDePoder">
		</div>
		<input type="submit" value="Agregar heroe">
	</form>
</body>
</html>